/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* body {
  background-color: orange;
} */

#container{
  width: 80%;
  margin: 0 10%;
}


/* regole header */

#logo {
  width: 130px;
  margin: 10px 10px 10px 0;
  background: white;
  vertical-align: middle;
  padding: 0 10px 0 0;
  border-right: 1px solid #DCDCDC;
}

#navigation {
  width: 50%;
  margin-left: 0;
}

#navigation li{
  display: inline-block;
  margin: 20px 15px 0 0;
  list-style-type: none; /* per browser piu datati */
  text-decoration: none;
  /*font-family: "Josefin Sans";*/
  font-size: 12px;
}


header{
  height: 100px;
  margin: 30px 0;
  /*background-color: #FF69B4;*/
}

a {
  text-decoration: none;
  color: dimgrey;
}

/* regole main */

.top-block {
  background-color: #F0E68C;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.middle-block {
  height: 100px;
  background-color: #87CEFA;
  margin-bottom: 20px;
}

/* sezione float */

.aside {
  float: left;
  width: 20%;
  height: 500px;
  background-color: #87CEFA;
}

.central-section {
  float: left;
  width: 50%;
  margin: 0 5%;
  background-color: #87CEFA;
  height: 500px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
  /* background-color: #4682B4; */
}

/* sezione footer */

footer{
  /*background-color: #4B0082;*/
  height: 70px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}


.icon {
  color: red;
}